<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ГиперковергентныйМегапереводительОформитель</title>
</head>

<body>
    <div class="container mt-4 mb-4">
        <h3 class="text-center">
            Ансимов Артем АСУб-19-1
        </h3>

        <h5 class="text-center">
            Лабораторная работа 1
        </h5>
    </div>
    <div class="container text-center">
        <p>Выберите дату начала и дату конца отчёта. Соберутся данные по задачам для указанного промежутка из Битрикса, затем сформируется отчёт в виде документа эксель, загрузятся на Яндекс.Диск и здесь появится ссылка.</p>
    </div>
    <div class="container">

        <form class="row flex-column g-3 needs-validation align-items-center" id="myForm" novalidate>
            <div class="col-md-4">

                <label for="from_date">Дата начала</label>
                <input class="form-control" id="from_date" type="date" placeholder="yyyy-mm-dd" required>
                <div class="invalid-feedback">
                Пожалуйста, укажите дату.
            </div>
        </div>
        <div class="col-md-4">
            
            <label for="to_date">Дата конца</label>
            <input class="form-control" id="to_date" type="date" placeholder="yyyy-mm-dd" required>
            <div class="invalid-feedback">
                Пожалуйста, укажите дату.
            </div>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-primary" id="generateReport" type="submit">Создать отчёт</button>
        </div>
    </form>
    <div class="justify-content-center mt-4" id="spinnerBox" style="display: none;">
        <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row text-center mt-4">
        <a class="fs-3" id="yandexLink"></a>
    </div>
</div>


    <!-- <div class="col-12">
        <button class="btn btn-primary" id="testButton" type="button">Тестовая кнопка</button>
    </div> -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>